# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TalismanCSHARP.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\emont\RiderProjects\TalismanCSHARP\.idea\.idea.TalismanCSHARP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
